.card {
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  text-align: left;
  &__image {

  }
  &__content{

  }
  &__title {
    &_text {

    }
  }
  &__description {
    &_text {

    }
  }
}