:root {

}

body[data-theme="light"] {
  --nav-item-bg: var(--color-white-30);
  --nav-item-color: var(--color-white);

  --nav-item-active-bg: var(--color-white);
  --nav-item-active-color: var(--color-black);
}

body[data-theme="dark"] {

}