:root {
  --animation-speed-button: var(--animation-speed-100);
  --shadow-button: var(--shadow-2);
  --text-lh-button: var(--text-line-height-20);
  --text-button-size: var(--text-size-16)
}

body[data-theme="light"] {
  --color-button-primary-static: var(--color-white);
  --color-button-primary-hover: var(--color-blue);
  --color-button-primary-active: var(--color-blue-dark-2);
  --color-button-text-primary-static: var(--color-black);
  --color-button-text-primary-hover: var(--color-white);
  --color-button-text-primary-active: var(--color-white);
  --color-icon-bg-primary-static: var(--color-blue);
  --color-icon-bg-primary-hover: var(--color-blue);
  --color-icon-primary-static: var(--color-white);
  --color-icon-primary-hover: var(--color-white);


  --color-button-secondary-static: var(--color-blue);
  --color-button-secondary-hover: var(--color-blue);
  --color-button-secondary-active: var(--color-blue-dark-2);
  --color-button-text-secondary-static: var(--color-white);
  --color-button-text-secondary-hover: var(--color-white);
  --color-button-text-secondary-active: var(--color-white);
  --color-icon-bg-secondary-static: var(--color-white);
  --color-icon-bg-secondary-hover: var(--color-blue);
  --color-icon-secondary-static: var(--color-blue);
  --color-icon-secondary-hover: var(--color-white);
}

body[data-theme="dark"] {

}