.personalselection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 203px;
  margin-bottom: 160px;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 600px;

    background-image: url("/assets/images/pages/home/home-page-planet.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;

    &_small {
      z-index: 1;
      color: var(--Dark, #1A1A1A);
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      font-weight: 500;
      line-height: 60px;
    }
  }
  &__text {
    color: #5F6C7B;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.27px;
    word-wrap: break-word;
    margin-bottom: 132px;
  }

  &__selects {
    z-index: 2;
  }
}