.inforow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  &__label {
    font-size: var(--text-size-18);
    color: var(--inforow-label-color);
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__value {
    font-size: var(--text-size-16);
    color: var(--inforow-value-color);
  }

  &__action {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;

    font-size: var(--text-size-16);
    font-weight: bold;
    color: var(--inforow-action-color);
  }
}