:root {

}

body[data-theme="light"] {
  --inforow-label-color: var(--color-black);
  --inforow-value-color: var(--color-gray-dark);
  --inforow-action-color: var(--color-blue);
}

body[data-theme="dark"] {

}