.calendarheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  &__navButton {
    width: 32px;
    height: 32px;

    border-radius: 8px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    font-size: 20px;
    line-height: 1;

    cursor: pointer;
    transition: all 0.15s;

    background: var(--calendarheader-nav-bg);
    color: var(--calendarheader-nav-color);

    &--disabled {
      background: var(--calendarheader-nav-bg-disabled);
      color: var(--calendarheader-nav-color-disabled);
      cursor: not-allowed;
    }
  }

  &__center {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__title {
    font-weight: 700;
    font-size: 15px;
    color: var(--calendarheader-title-color);

    cursor: pointer;
    user-select: none;
  }

  &__arrows {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__arrowButton {
    border: none;
    background: none;

    cursor: pointer;

    color: var(--calendarheader-arrow-color);
    font-size: 9px;

    padding: 1px 2px;
    line-height: 1;
  }
}