:root {
}

body[data-theme="light"] {
  --profileinfo-bg: rgba(14, 104, 212, 0.10);
  --profileinfo-icon-color: var(--color-blue, #0E68D4);
  --profileinfo-text-color: var(--color-gray-dark, #5F6C7B);
}

body[data-theme="dark"] {
}
