.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 65px;
  z-index: 999;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    max-width: 1435px;
    width: 100%;
    border: solid 1px var(--color-white-30);
    border-radius: 50px;
    padding: 14px 24px;
    backdrop-filter: blur(10px);
  }

  &__logo {
    color: var(--White, #ffffff);
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
  }

  &__nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    padding: 4px;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.30);

    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
}