.sectionheader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  cursor: pointer;

  &__title {
    font-size: var(--text-size-18);
    font-weight: bold;
    color: var(--sectionheader-title-color);
  }

  &__subtitle {
    font-size: var(--text-size-16);
    color: var(--sectionheader-subtitle-color);
  }

  &--muted {
    height: 60px;
    justify-content: space-between;
    gap: 0;

    .sectionheader__subtitle {
      font-size: var(--text-size-14);
      color: var(--sectionheader-subtitle-color-muted);
    }
  }
}