.select {
  width: 248px;
  position: relative;
  display: inline-flex;
  flex-direction: column;

  &--open {
    z-index: 10;
  }

  &__trigger {
    padding: 16px 20px;
    background: var(--select-bg);
    border-radius: var(--radius-20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    position: relative;
    z-index: 2;
  }

  &__value {
    font-family: var(--text-font-family), sans-serif;
    font-size: var(--font-body-2-size);
    line-height: var(--text-line-height-20);
    letter-spacing: 0.24px;
    color: var(--select-text);
  }

  &__icon {
    transition: transform var(--animation-speed-200) ease;
    flex-shrink: 0;
  }

  &--open &__icon {
    transform: rotate(90deg);
  }

  &__dropdown {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 20px 20px 20px;
    background: var(--select-bg);
    border-bottom-left-radius: var(--radius-20);
    border-bottom-right-radius: var(--radius-20);
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1;
    box-shadow: var(--shadow-2);
  }

  &__option {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
  }

  &__optionText {
    font-family: var(--text-font-family), sans-serif;
    font-size: var(--font-body-2-size);
    line-height: var(--text-line-height-20);
    letter-spacing: 0.24px;
    color: var(--select-text);
  }

  &__option:hover &__optionText {
    color: var(--color-blue);
  }

  &__divider {
    width: 100%;
    height: 1px;
    background: var(--select-divider);
  }
}