:root {
  --drumroller-center-bg: rgba(79,70,229,0.08);
  --drumroller-center-border: rgba(79,70,229,0.22);

  --drumroller-text-default: #9ca3af;
  --drumroller-text-selected: #4f46e5;
  --drumroller-text-disabled: #d1d5db;
}

body[data-theme="light"] {

}

body[data-theme="dark"] {

}