:root {
  --animation-speed-button: 100ms;
}

body[data-theme="light"] {
  --steps-dot-bg: var(--color-blue);
  --steps-dot-color: var(--color-white);

  --steps-connector-color: var(--color-blue);

  --steps-card-bg: var(--color-white);
  --shadow-card: 0px 3px 10px 2px rgba(26, 26, 26, 0.10);

  --steps-title-color: var(--color-black);
  --steps-text-color: var(--color-gray-dark);

  --steps-cta-bg: var(--color-white);
  --steps-cta-bg-hover: var(--color-blue);
  --steps-cta-border: var(--color-blue);
  --steps-cta-border-hover: var(--color-blue);
  --steps-cta-text: var(--color-blue);
  --steps-cta-text-hover: var(--color-white);
}

body[data-theme="dark"] {

}