:root {

}

body[data-theme="light"] {
  --steps-dot-bg: var(--color-white);
  --steps-dot-color: var(--color-blue);
  --steps-dot-outline: var(--color-blue);

  --steps-line-color: var(--color-blue);
  --steps-line-opacity: 0.7;

  --steps-title-color: var(--color-black);
  --steps-text-color: var(--color-gray-dark);
}

body[data-theme="dark"] {

}