:root {

}

body[data-theme="light"] {
  --icon-select-trigger-bg: var(--color-white-30);
  --icon-select-label-color: var(--color-black);
  --icon-select-value-color: var(--color-gray-dark);

  --icon-select-dropdown-bg: var(--color-white);
  --icon-select-option-color: var(--color-gray-dark);
  --icon-select-option-hover-color: var(--color-black);

  --icon-select-divider: var(--color-gray);

  --icon-select-bg: var(--color-light-gray-25);
}

body[data-theme="dark"] {

}